@media screen and (max-width: 400px) {
  #etapes {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

.modal-backdrop.fade {
  opacity: inherit !important;
  background-color: rgb(0 0 0 / 50%);
}

.modal.show {
  opacity: 1 !important;
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
  /* margin-top: 200px; */
  min-height: 100vh;
}